/* Tipografias */
/* Outfit: font-family: "Outfit", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
/* Poppins: font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* -------------------------------------------------------------------------------- */


/* Reseteo */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding: 1rem;
}

/* ------------------- HEADER (logo, lista navegacion y banner) -------------------*/ 
    /* 1) Logo */
    .header a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        background-color: rgb(108, 191, 243);
    } 
    
    .header .logo_desk{
        width: 220px;
        margin-top: 7px;
    }
    
    .logo_cellphone{ display: none;}
    



    /* -------------------------------- MEDIA QUERIES ------------------------------*/

/* Querys para modificar segun la medida de la pantalla (modelo responsivo) */

@media (max-width: 700px){
    /* imagenes del logotipo */
    .header a {
        justify-content: center;
        background-color: rgb(243, 136, 230);
    } 
    .logo_desk {display: none;}
    .logo_cellphone { 
        display: block;
        width: 100px;
    }

}