@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding: 1rem;
  padding-bottom: 3em;
  position: relative;
  min-height: 100vw; }

.header {
  box-shadow: 0px 20px 20px #d8d8d8; }
  .header .container-fluid .nav-item a:hover {
    color: #a91111;
    background-color: #6cbff3;
    margin: 2px; }
  .header .header__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background-color: #6cbff3; }
    .header .header__logo .logo_desk {
      width: 220px;
      margin-top: 7px;
      margin-bottom: 7px; }
    .header .header__logo .logo_cellphone {
      display: none; }

/* pseudoclase para el navegador = para todos */
.header .container-fluid .nav-item a:hover {
  color: #a91111;
  background-color: #6cbff3;
  margin: 2px; }

/* -----------------------INDEX--------------------------- */
/* ------------------- HEADER (logo, lista navegacion y banner) -------------------*/
/* 1) Logo */
.header .header__banner .banner_promo img {
  /* le pongo 100vw si quiero que ocupe el total de la pantalla y 100% si quiero que ocupe el total de mi caja*/
  width: 100%; }

.header .header__banner .banner_celu {
  display: none; }

/* -------------------------- GRILLAS -------------------------- */
.grid_container {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "section section section aside" "article article article aside" "footer footer footer footer";
  gap: 1rem;
  margin-top: 1rem; }
  .grid_container .section_top {
    grid-area: section;
    background-color: aquamarine; }
  .grid_container article {
    grid-area: article;
    background-color: #fffa60; }
  .grid_container aside {
    grid-area: aside;
    background-color: #fb76df; }
  .grid_container .footer {
    grid-area: footer;
    background-color: #efa54a; }

@media (max-width: 600px) {
  /* cambiar tamaño de la grilla del index */
  .grid_container {
    grid-template-areas: "section section section section" "article article article article" "aside aside aside aside" "footer footer footer footer"; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #efa54a;
  font-size: 12px;
  width: 100%;
  margin: auto;
  gap: 1rem; }
  .footer .g1_footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "box1 box2 box3";
    grid-gap: 1.5rem;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-items: center; }
    .footer .g1_footer h4 {
      font-size: 20px;
      text-align: center;
      color: white;
      margin-bottom: 10px;
      font-weight: 500; }
    .footer .g1_footer ul li a {
      font-size: 15px;
      text-decoration: none;
      color: #fff7f7;
      display: block;
      margin-bottom: 8px;
      transition: all .3s ease; }
    .footer .g1_footer .box1 {
      grid-area: box1; }
    .footer .g1_footer .box2 {
      grid-area: box2; }
    .footer .g1_footer .box3 {
      grid-area: box3; }
      .footer .g1_footer .box3 .red_social a {
        text-decoration: none;
        display: inline-block;
        min-height: 40px;
        width: 40px;
        background-color: rgba(241, 255, 47, 0.608);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: white;
        transition: all .5s ease; }
  .footer .g2_footer {
    grid-area: g2_f; }

/* pseudoclase para el footer = para todos */
.fotter ul li a:hover {
  color: white;
  padding-left: 5px; }

.fotter .g1_footer .box3 .red_social a:hover {
  background-color: #52ff2f; }

@media (max-width: 600px) {
  /* cambiar el color del fondo del navegador y ubicacion del logo*/
  .header .header__logo {
    justify-content: center;
    background-color: #f388e6;
    /* imagenes del logotipo = para todos*/ }
    .header .header__logo .logo_desk {
      display: none; }
    .header .header__logo .logo_cellphone {
      display: block;
      width: 100px; }
  .header .header__banner .banner_compu {
    display: none; }
  .header .header__banner .banner_celu {
    display: block; }
  .footer .g1_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "box1 box2" "box3 box3"; } }
