/* -----------------------INDEX--------------------------- */
/* ------------------- HEADER (logo, lista navegacion y banner) -------------------*/ 
    /* 1) Logo */

    .header{
        // imagen banner= solo del index
    .header__banner{
            
            .banner_promo img{
                /* le pongo 100vw si quiero que ocupe el total de la pantalla y 100% si quiero que ocupe el total de mi caja*/
                width: 100%;
            }

            .banner_celu {display: none;}

        } 
            
        
    }



/* -------------------------- GRILLAS -------------------------- */


.grid_container{
    background-color:  antiquewhite;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "section section section aside"
    "article article article aside"
    "footer footer footer footer"
    ;

    gap: 1rem;
    margin-top: 1rem;

    .section_top {
        grid-area: section;
        background-color: aquamarine;
    }
    
    article{
        grid-area: article;
        background-color: rgb(255, 250, 96);
    }
    aside{
        grid-area: aside;
        background-color: rgb(251, 118, 223);
    }


    .footer{
        grid-area: footer;
        background-color: rgb(239, 165, 74);
    }

}


@media (max-width: 600px){

    /* cambiar tamaño de la grilla del index */
    .grid_container{
        grid-template-areas: 
        "section section section section"
        "article article article article"
        "aside aside aside aside"
        "footer footer footer footer"
        ;
    }


}