
.titulo_principal{
    font-family: $fuente_titulo; // Usar la variable para la tipografía
    font-size: 3rem;
    font-weight: 900px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.boton_seleccion{

    display: inline-block;
    font-size: 16px;
    font-weight: 300px;
    text-align: center;
    text-decoration: none;
    background-color: $rosa;
    color: #333;

    padding: 8px 18px;
    border: 1px solid #ccc;
    border-radius: 4px;

    cursor: pointer;
    transition: all 0.3s ease; // Transición suave para la animación
    box-shadow: $sombra;
}

// Defino un mixin para las imágenes de fondo, donde paso por parametro el url
@mixin img_fondo($url) {
    background-image: url($url);
    // background-size: cover;
    background-position: center;
    background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste dentro del contenedor */
    background-repeat: no-repeat;
  }